<div id="sidebar" class="sidebar">
	{% assign sorted_collections = site.collections | sort: "position_number" %}
	{% for collection in sorted_collections %}
		{% if collection.label != "posts" %}
			<section>
				<h6>{{ collection.title }}</h6>
				<ul>
					{% assign collection_name = collection.label | downcase %}
					{% assign sorted_items = site[collection_name] | sort: "position_number" %}
					
					{% for item in sorted_items limit: 6 %}
						<li>
							<a href="{% if page.url != '/' %}/{% endif %}#{{ item.id | replace: '/', '' | replace: '.', '' }}">
								{{ item.title }}
								{% if item.type %}<span class="endpoint {{ item.type }}"></span>{% endif %}
							</a>
						</li>
					{% endfor %}
				</ul>

				{% if sorted_items.size > 6 %}
					<a href="/all">Voir plus</a>
				{% endif %}
			</section>
		{% endif %}
	{% endfor %}
</div>